<div class="col">
  <div class="card shadow mb-3 bg-body rounded">
    {{!-- <img class="card-img-top" src="{{image}}" alt="Card image cap" /> --}}
    <div class="card-body">
      <h5 class="card-title">{{blog.title}}</h5>
      <p class="card-text">{{blog.body}}</p>
      <div class="d-flex flex-row justify-content-end">
        {{#if loggedIn}}
          <div class="btn-group">
            <a
              href="/dashboard/edit/{{blog.id}}"
              class="btn btn-sm btn-outline-warning"
            >
              Edit
            </a>
            <a
              href="/dashboard/edit-comments/{{blog.id}}"
              class="btn btn-sm btn-outline-primary"
            >
              Comments
            </a>
            <a
              href="/dashboard/delete/{{blog.id}}"
              class="btn btn-sm btn-outline-danger"
            >
              Delete
            </a>
          </div>
        {{/if}}
      </div>
      <div class="d-flex flex-row justify-content-end mt-2">
        <small class="text-muted">{{blog.createdAt}}
          by
          {{blog.User.firstName}}
          {{blog.User.lastName}}</small>
      </div>
      <hr class="py-1" />

      <form id="commentForm" class="mt-2">
        <div class="form-floating mb-3">
          <textarea
            class="form-control"
            placeholder="comment"
            id="textareaComment"
            name="comment"
          >
          </textarea>
          <label for="textareaComment">Comment</label>
        </div>
        <div class="d-grid gap-2 col-2 mx-auto">
          <button type="submit" class="btn btn-blue btn-lg">Comment</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/addComment.js"></script>